<div class="hero-unit">
  <h1>Discover your World</h1>
  <p>You are only be lost if you have stopped searching</p>
  <p>
    <br>
    <br>

    <%= link_to "Wander", destinations_path, :method => "POST", :class => "btn btn-primary btn-large" %>
  </p>
</div>

