<div class="hero-unit">
  <h1>Discover your World</h1>
  <p>You are only lost if you stop searching</p>
  <p>
    <%= link_to "Wander", destinations_path, :method => "POST", :class => "btn btn-primary btn-large" %>
  </p>
</div>

