/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_tree .
 */


body {
  padding: 40px;
  text-align: center;
  background-size: cover;
  background-image:url('barcelona.jpg');
}

div.row-fluid > div {
  margin-top: 20px;
}

#save_destination_button {
  width: 86%;
  margin-bottom: 5px;
}

#map_complete {
  width:95%;
  height: 420px;
}

#map {
  width:70%;
  height: 400px;
  float:left;
  margin-right: 10px;
}

#side_photo_container {
  height: 400px;
  overflow: hidden;
}

#side_photo_container img {
  margin-bottom: 5px;
}

#point_to_wander {
  text-align: right;
}

#sign_in, #log-in {
  float: left;
  margin: 20px 40px;
}

.wiki_photos {
  width:auto;
  height: 130px;
}

#top_list {
  list-style: decimal;
}

li.alert {
  margin:0px;
}

.leaflet-marker-pane img {
  display:none;
}

#top_list > li{
  text-align: left;
}

#destination_content {
  text-align: justify;
  margin: 10px 20px;
}