/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_tree .
 */


body {
  padding: 40px;
  text-align: center;
  background-size: cover;
  background-image:url('barcelona.jpg');
  font-family: 'Fredericka the Great', cursive;
}

h1, .brand {
  font-family: 'Fredericka the Great', cursive;
}

#start_journey, #wander_button, #world_map_link{
  font-family: 'IM Fell English', serif;
  letter-spacing:3px;

}

#start_journey {
  font-size: 30px;

}

#wander_button {
  font-size: 25px;
}

#world_map_link {
  font-size: 18px;
}

div.row-fluid > div {
  margin-top: 20px;
}

#save_destination_button {
  width: 86%;
  margin-bottom: 5px;
}

#map_complete {
  width:95%;
  height: 420px;
}

#map {
  width:70%;
  height: 400px;
  float:left;
  margin-right: 10px;
}

#side_photo_container {
  height: 400px;
  overflow: auto;
}

#side_photo_container img {
  margin-bottom: 5px;
}

div.modal.fade.in {
  top: 9%;
  width: 72%;
  margin-left: 0px;
  left:15%;
}

div.modal-backdrop, div.modal-backdrop.fade.in {
  opacity: 0.6;
}

.modal.fade.in > div.modal-body {
  max-height: 500px;
}

.modal-body > form {
  float:left;
  margin: 10px;
}

#sign_in, #log-in {
  text-align: left;
  float: left;
  margin: 20px 40px;
}

.wiki_photos {
  width:auto;
  height: 130px;
}

#top_list {
  list-style: decimal;
}

#top_list > li{
  text-align: left;
}

li.alert {
  margin:0px;
}

.leaflet-marker-pane img {
  display:none;
}


#destination_content {
  text-align: justify;
  margin: 10px 20px;
}

#container_favorites {
  height: 400px;
  overflow:auto;
}